<md-dialog aria-label="Mango (Fruit)" flex="70">
  <md-content flex="100">
    <form name="projectForm">
      <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Employee Details</h2>
            <span flex></span>
          </div>
        </md-toolbar>
      <!-- <md-input-container class="md-block">
        <h2>/h2>
        <!-- <input md-maxlength="30" required md-no-asterisk name="description" ng-model="project.description">
          <div ng-messages="projectForm.description.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
          </div> -->
      <!-- </md-input-container> -->
       <md-dialog-content>
        <div layout="row">
          <md-input-container flex="50">
            <label>First Name</label>
            <input required name="clientFirstName" ng-model="project.clientFirstName">
            <div ng-messages="projectForm.clientFirstName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex="50">
            <label>Last Name</label>
            <input required name="clientLastName" ng-model="project.clientLastName">
            <!-- <md-option value="app">Application</md-option>
              <md-option value="web">Website</md-option> -->
            <div ng-messages="projectForm.clientLastName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

        </div>

        <div layout="row">
          <md-input-container flex="50">
            <label>Client</label>
            <input required name="clientFirstName" ng-model="project.clientFirstName">
            <div ng-messages="projectForm.clientFirstName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex="50">
            <label>Skills</label>
            <input required name="clientLastName" ng-model="project.clientLastName">
            <!-- <md-option value="app">Application</md-option>
                <md-option value="web">Website</md-option> -->
            <div ng-messages="projectForm.clientLastName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

        </div>

        <div layout="row">
          <md-input-container flex="50">
            <label>Recruiter</label>
            <input required name="clientFirstName" ng-model="project.clientFirstName">
            <div ng-messages="projectForm.clientFirstName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex="50">
            <label>Placement Type</label>
            <md-select name="type" ng-model="placement.type" required>
              <md-option value="Full Time">Full Time</md-option>
              <md-option value="Part Time">Part Time</md-option>
              <md-option value="Project">Project</md-option>
            </md-select>
          </md-input-container>
        </div>


        <div layout="row">
          <md-input-container flex="50">
            <label>Salary</label>
            <input required name="clientFirstName" ng-model="project.clientFirstName">
            <div ng-messages="projectForm.clientFirstName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex="50">
            <label>Insurance</label>
            <input required name="clientLastName" ng-model="project.clientLastName">
            <div ng-messages="projectForm.clientLastName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

        </div>


        <div layout="row">
          <md-input-container flex="50">
            <label>relocation</label>
            <input required name="clientFirstName" ng-model="project.clientFirstName">
            <div ng-messages="projectForm.clientFirstName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex="50">
            <label>Immigration</label>
            <input required name="clientLastName" ng-model="project.clientLastName">
            <div ng-messages="projectForm.clientLastName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

        </div>


        <div layout="row">
          <md-input-container flex="50">
            <label>Pay Vacation Cost</label>
            <input required name="clientFirstName" ng-model="project.clientFirstName">
            <div ng-messages="projectForm.clientFirstName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex="50">
            <label>Ksquare hourly cost</label>
            <input required name="clientLastName" ng-model="project.clientLastName">
            <div ng-messages="projectForm.clientLastName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

        </div>


        <div layout="row">
          <md-input-container flex="50">
            <label>Target Bill Rate</label>
            <input required name="clientFirstName" ng-model="project.clientFirstName">
            <div ng-messages="projectForm.clientFirstName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-input-container flex="50">
            <label>Client Bill Pay</label>
            <input required name="clientLastName" ng-model="project.clientLastName">
            <div ng-messages="projectForm.clientLastName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

        </div>
      <md-dialog-content>
  </md-content>
</md-dialog>
