<md-input-container layout-gt-xs="row" layout="row">
  <label>Year</label>
  <md-select ng-model="ctrl.year">
    <md-option><em>None</em></md-option>
    <md-option ng-repeat="year in ctrl.years" ng-value="year">
      {{year}}
    </md-option>
  </md-select>
</md-input-container>
<div class="md-padding">
  <md-tabs>
    <md-tab label="January" ng-click="ctrl.updateMonth('January')"></md-tab>
    <md-tab label="February" ng-click="ctrl.updateMonth('February')"></md-tab>
    <md-tab label="March" ng-click="ctrl.updateMonth('March')"></md-tab>
    <md-tab label="April"></md-tab>
    <md-tab label="May"></md-tab>
    <md-tab label="June"></md-tab>
    <md-tab label="July"></md-tab>
    <md-tab label="August"></md-tab>
    <md-tab label="September"></md-tab>
    <md-tab label="October"></md-tab>
    <md-tab label="November"></md-tab>
    <md-tab label="December"></md-tab>
  </md-tabs>
</div>

<md-content class="md-padding" layout-xs="column" layout="row" flex>
  <div flex layout="column" class="md-whiteframe-1dp">

    <div class="">
      <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20]}" animate-sort-icon="true" mdt-row="{
                              data: filteredItems,
                              'table-row-id-key': '_id',
                              'column-keys': [ 'skills', 'NoEmployees', 'revenue']
                              }">

        <mdt-header-row>
          <!-- <mdt-column column-sort="true" contenteditable="true" align-rule="left" exclude-from-column-selector="true">ID</mdt-column> -->
          <mdt-column column-sort="true" align-rule="left">Skill</mdt-column>
          <mdt-column column-sort="true" align-rule="left">No of Employees</mdt-column>
          <mdt-column column-sort="true" align-rule="left">Revenue</mdt-column>


        </mdt-header-row>

      </mdt-table>
    </div>

  </div>
  <div flex layout="column" class="md-whiteframe-1dp">
    fdf
  </div>
  <!-- <form ng-submit="addTab(tTitle,tContent)" layout="column" class="md-padding" style="padding-top: 0;">
    <div layout="row" layout-sm="column">
      <div flex style="position: relative;">
        <h2 class="md-subhead" style="position: absolute; bottom: 0; left: 0; margin: 0; font-weight: 500; text-transform: uppercase; line-height: 35px; white-space: nowrap;">Add a new Tab:</h2>
      </div>
      <md-input-container>
        <label for="label">Label</label>
        <input type="text" id="label" ng-model="tTitle">
      </md-input-container>
      <md-input-container>
        <label for="content">Content</label>
        <input type="text" id="content" ng-model="tContent">
      </md-input-container>
      <md-button class="add-tab md-primary md-raised" ng-disabled="!tTitle || !tContent" type="submit" style="margin-right: 0;">Add Tab</md-button>
    </div>
  </form> -->
