
    <section layout="row" flex>

    <md-sidenav
        class="md-sidenav-left "
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Menu</h1>
      </md-toolbar>
      <md-content >
        <!-- <md-subheader class="md-no-sticky">Secondary Menus</md-subheader> -->
 <md-list-item>
   <p>Reports</p>
   <i class="material-icons">assessment</i>

   <md-menu class="md-secondary">
     <md-button class="md-icon-button">
       <md-icon md-svg-icon="communication:message"></md-icon>
     </md-button>
     <md-menu-content width="4">
       <md-menu-item>
         <md-button>
           Skills
         </md-button>
       </md-menu-item>
       <md-menu-item>
         <md-button>
           Clients
         </md-button>
       </md-menu-item>
       <md-menu-divider></md-menu-divider>
       <md-menu-item>
         <md-button>
           Recruiter
         </md-button>
       </md-menu-item>
     </md-menu-content>
   </md-menu>

 </md-list-item>


          <md-list-item ui-sref=".employees">
            <p> Employees </p>
            <i class="material-icons">group</i>
          </md-list-item>
          <md-list-item  ng-click="null">
            <p> Recruiter </p>
            <i class="material-icons">person</i>
          </md-list-item>
          <md-list-item  ng-click="null">
            <p> Register Quarter </p>
            <i class="material-icons">file_download</i>
          </md-list-item>
      </md-content>
    </md-sidenav>
              <div flex ui-view>
              Hello
            </div>
