
<md-content layout="column" flex layout-margin>

  <md-toolbar>
    <div class="md-toolbar-tools">

      <md-input-container  md-no-float class="md-accent" flex="50" style="padding-bottom:0px;margin-left:25px">
        <md-icon style="color:wheat" class="material-icons">&#xE8B6;</md-icon>
        <input ng-model="filterID" placeholder="Search here" style="color:wheat;padding-left:25px;margin-left:5px">
        <div ng-hide="true">
          {{(filteredItems = (employeeList | filter: filterID))}}
        </div>
      </md-input-container>
      <span flex></span>

      <md-button class="md-icon-button" aria-label="User" ng-show="showEdit" ng-click="showEdits($event)">
        <md-tooltip>Edit</md-tooltip>
        <i class="material-icons">mode_edit</i>
      </md-button>


      <md-button class="md-icon-button" aria-label="" ng-show="showOptions" ng-click="showDelete($event)">
        <md-tooltip>Delete</md-tooltip>
        <i class="material-icons">delete</i>
      </md-button>


    <md-menu >
      <md-button aria-label="Open demo menu" ng-show="showOptions" ng-click="$mdOpenMenu($event)">
          Status
      </md-button>
      <md-menu-content width="4">
        <md-menu-item >
          <md-button ng-click="showConfirmAct($event)">
            <span md-menu-align-target>Activate</span> </md-button>
        </md-menu-item>
        <md-menu-item >
          <md-button ng-click="showConfirm($event)">
            <span md-menu-align-target>Deactivate</span> </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    </div>
  </md-toolbar>

  <div layout="row">
    <md-button class="md-raised md-primary" ng-click="showAdvanced($event)" ><i class="material-icons">person_add</i></md-button>
  </div>
  <br>
  <br>
  <div class="">
    <mdt-table

    paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20]}"
    selected-row-callback="selectedRowCallback(rows)"
    animate-sort-icon="true"
    selectable-rows="true"
    mdt-row="{
                        'data': filteredItems,
                        'table-row-id-key': '_id',
                        'column-keys': [ 'first_name', 'last_name', 'client', 'skills', 'recruiter', 'status']
                        }">

      <mdt-header-row>
        <!-- <mdt-column column-sort="true" contenteditable="true" align-rule="left" exclude-from-column-selector="true">ID</mdt-column> -->
        <mdt-column column-sort="true" align-rule="left">First Name</mdt-column>
        <mdt-column column-sort="true" align-rule="left">Last Name</mdt-column>
        <mdt-column column-sort="true" align-rule="left">Client</mdt-column>
        <mdt-column column-sort="true" align-rule="left">Skills</mdt-column>
        <mdt-column column-sort="true" align-rule="left">Recruiter</mdt-column>
        <mdt-column column-sort="true" align-rule="left">Status</mdt-column>

      </mdt-header-row>

    </mdt-table>
  </div>


</div>
